{% extends 'base.html' %}

{% block header %}
{% block title %}Home{% endblock %}
{% endblock %}

{% block content %}

        <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
                <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <span class="text-uppercase page-subtitle"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-16 col-sm-12 mb-4">
                    <div class="card card-small mb-4 ">
                        <div class="card-header">
                        </div>
                        <div class="card-body p-0 pb-3 text-center">
                            <h2>Welcome back, {{ g.user['username'] }}</h2>
                            <p><br>Click <a href="{{ url_for('main.plot') }}">
                                <i class="material-icons">play_circle_filled</i> My Data
                            </a> to view the real-time output of your sensor
                            <br>Click <a href="{{ url_for('main.status') }}">
                                <i class="material-icons">settings</i> Settings
                            </a> to view the status and manage the settings of your sensor</p>
                            <p></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
