{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/test.css') }}">
                <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
                <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
                </head>
    <body>
<div class="col-12">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">Real-time {% block title %}Graph{% endblock %}</h3>
        </div>
    </div>
    <div class="col-12">
<div class="row">
    <div style="width: 1050px">
        <div class="card card-small">
            <div class="card-header" >
                <p></p>
            </div>
            <div class="card-body pt-0">
                <div id="chart_area" class="test">
                    <canvas id="raw_chart"></canvas>
                    <button id="play_btn" class="btn btn-sm btn-outline-accent">Play</button>
                    <button id="stop_btn" class="btn btn-sm btn-outline-accent">Stop</button>
                    <button id="proc_btn" class="btn btn-sm btn-outline-accent">Process</button>
                    <button id="save_btn" class="btn btn-sm btn-outline-accent">Save</button>
                </div>
                <div class="test">
                    <canvas id="proc_chart"></canvas>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

        <script>
        var socket = io.connect('http://localhost:5000');
        var sensors_list = {{ user_settings|safe }};
        var playing = false;
        var interval = null;
        var data = [[],[],[],[]];
        var color = ["rgba(231,115,115,50)","rgba(115,173,231,50)",
                	"rgba(115,231,115,50)","rgba(231,173,115,50)"]
        var pedal1 = new Image();
        pedal1.src = 'https://i.imgur.com/yDYW1I7.png';
        var pedal2 = new Image();
        pedal2.src = 'https://i.imgur.com/DIbr9q1.png';

        var config = {
    			type: 'line',
    			data: {
    				datasets: []
    			},
    			options: {
    			animation: {
    			duration: 0,
    		},
    				responsive: true,
    				title: {
    					display: true,
    					text: 'Sensor Data Plot'
    				},
    				scales: {
    					xAxes: [{
    					type: 'linear',
    						display: true,
    						scaleLabel: {
    							display: true,
    							labelString: 'Time/s'
    						},
    						ticks: {
    						min: 0,
    						max: 60,
    						stepSize: 5
    						}
    					}],
    					yAxes: [{
    					type: 'linear',
    						display: true,
    						scaleLabel: {
    							display: true,
    							labelString: 'Value'
    						},
    						ticks: {
    						min: 0,
    						max: 18000
    						}
    					}]
    				}
    			}
    		};

         window.onload = function() {
    			var ctx = document.getElementById('raw_chart').getContext('2d');
    			window.rawCh = new Chart(ctx, config);
    			for (var i = 0; i < sensors_list.length; i++){
        			addDataSet(sensors_list[i].sensor_name, sensors_list[i].pin_num);			
    			}
			   $("#proc_btn").prop("disabled", true);
            $("#save_btn").prop("disabled", true);
    		};

         socket.on('data_in', function(msg){
            console.log(msg.y);
            data[msg.p].push({x:msg.x, y:msg.y});
         });
         
         socket.on('processed_in', function(msg){
         
         
             $("#proc_btn").prop("value", "Processed");
         })

         function updateChart() {
            window.rawCh.update();
         }

         function addDataSet(sensor_name, sensor_num) {
    			var newDataset = {
    				label: sensor_name,
    				backgroundColor: color[sensor_num],
    				borderColor: color[sensor_num],
    				data: data[sensor_num],
    				fill: false
    				};
    			config.data.datasets.push(newDataset);
    			window.rawCh.update();
    		};

         function simplify() {
        		window.rawCh.config.data.datasets[0]._meta[0].data[0]._model.pointStyle = pedal1;
        	}

         $("#play_btn").on('click', function(e) {
             if (playing) {
                 $(e.target).text('Play');
                     clearInterval(interval);
                     socket.emit('stop_transmit');
                 }
                 else {
                 $(e.target).text('Pause');
                     socket.emit('start_transmit');
                     interval = setInterval(updateChart, 100);
                     updateChart();
                 }
             playing = !playing;
        });
        
        $("#stop_btn").on('click', function() {
            playing = false;
            $("#play_btn").prop("disabled", true);
            $("#proc_btn").prop("disabled", false);
            $("#save_btn").prop("disabled", false);
            socket.emit('stop');
            $(this).prop("disabled", true);
        });
        
        $("#save_btn").on('click', function() {
            socket.emit('save');
            $(this).prop("value", 'Saved');
            $(this).prop("disabled", true);
        });
        
        $("#proc_btn").on('click', function() {
            socket.emit('process');
            $(this).prop("value", 'Processing');
            $(this).prop("disabled", true);
        });

        </script>

    </body>
</html>

{% endblock %}
