{% extends 'base.html' %}


{% block content %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/test.css') }}">
            <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
            <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
            <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
            <script src="{{ url_for('static',filename='scripts/epoch.js') }}"></script>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/epoch.css') }}">
                
                <script>
                    var nextTime = (function() {
                                    var currentTime = parseInt(new Date().getTime() / 1000);
                                    return function() { return currentTime++; }
                                    })();
                                    
                   $(document).ready(function() {                 
                    var socket = io.connect('http://localhost:5000');
                    
                    socket.on('connect', function() {
                        socket.emit('connect_event')});
                        
                    });
                    
                    </script>
                </head>
    <body>
        <h1>Real-time Line Plot Test</h1>
        <!-- Test 6 -->
        <div id="test-6" class="test">
            <h2>6. Real Plot From =10</h2>
            <p>

            <div class="epoch"></div>
            <p><button>Play</button></p>
        </div>
        
        <script>
            $(function() {
              var data = [
                          {label: 'A', values: []},
                          ],
              length = 40,
              nextIndex = length,
              scale = 0.1,
              playing = false,
              interval = null;
              
              var chart = $('#test-6 .epoch').epoch({
                                                    type: 'time.line',
                                                    data: data,
                                                    axes: ['right', 'bottom']
                                                    });
                                                    
              var pushPoint = function() {
              time = nextTime();
              chart.push([
                          { time: time, y: 10},
                          ]);
              nextIndex++;
              };
              
              $('#test-6 button').on('click', function(e) {
                                     if (playing) {
                                     $(e.target).text('Play');
                                     clearInterval(interval);
                                     }
                                     else {
                                     $(e.target).text('Pause');
                                     interval = setInterval(pushPoint, 1000);
                                     pushPoint();
                                     }
                                     playing = !playing;
                                     });
              });
            </script>
  
    </body>
</html>

{% endblock %}
