{% extends 'base.html' %}


{% block content %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/test.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/epoch.css') }}">
                <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
                <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
                <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
                <script src="{{ url_for('static',filename='scripts/epoch.js') }}"></script>
                
                
                <script>
                    var nextTime = (function() {
                                    var currentTime = parseInt(new Date().getTime() / 1000);
                                    return function() { return currentTime++; }
                                    });
                                    
                    </script>
                </head>
    <body>
<div class="col-12">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">Real-time {% block title %}Graph{% endblock %}</h3>
        </div>
    </div>
    <div class="col-12">
<div class="row">
    <div style="width: 1050px">
        <div class="card card-small">
            <div class="card-header" >
                <p></p>
            </div>
            <div class="card-body pt-0">
                <div id="test-6" class="test">

                <div class="epoch" style="width: 1000px; height: 265px"></div>
                <button class="btn btn-sm btn-outline-accent">Play</button>
              
                </div>
            </div>
        </div>
    </div>
</div>
</div>
        
        <script>
            $(function() {
              var socket = io.connect('http://localhost:5000');
              socket.on('connect', function() {
                        socket.emit('connect_event')});
              
              var data = [
                          {label: 'A', values: [{x: 0, y:0 }]},
                          ];
              playing = false;
              interval = null;
              
              
              socket.on('In_Data', function(msg){
                        data[0].values.push({x:msg.x, y:msg.y})
                        });
              
              var chart = $('#test-6 .epoch').epoch({
                                                    type: 'area',
                                                    data: data,
                                                    axes: ['left', 'bottom'],
                                                    range:[0, 20],
                                                    domain: [0, 50]
                                                    });
              
              var pushPoint = function() {
              chart.update(data);
              };
              
              $('#test-6 button').on('click', function(e) {
                                     if (playing) {
                                     $(e.target).text('Play');
                                     clearInterval(interval);
                                     socket.emit('stop_transmit')
                                     }
                                     else {
                                     $(e.target).text('Pause');
                                     socket.emit('start_transmit')
                                     interval = setInterval(pushPoint, 10);
                                     pushPoint();
                                     }
                                     playing = !playing;
                                     });
              });
            </script>
        
    </body>
</html>

{% endblock %}
