<div>
    <form name="_form" ng-submit="submit(_form)">
        <div>
            <button type="button" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>Sensor Settings</h3>
        </div>

        <div>
            <div ng-class="{error: _form.name.$error && _form.submitted}">
                <label>Name</label>
                <div>
                    <input name="name" type="text" ng-model="form.name" />
                </div>
            </div>
            <div>
                <div>
                    <div ng-class="{error: _form.sizeX.$error && _form.submitted}">
                        <label>Pin no.</label>
                        <div>
                            <input name="Pin no."  type="text"/>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Sample Rate</label>
                        <div>
                            <input name="Sample rate" type="text"/>
                        </div>
                    </div>
                </div>

                <div>
                    <div ng-class="{error: _form.sizeX.$error && _form.submitted}">
                        <label>MQTT Topic</label>
                        <div>
                            <input name="MQTT topic" ng-model="form.col"/>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label>blank for now</label>
                        <div>
                            <input name="row" ng-model="form.row"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a ng-click="remove()" tabindex="-1">Delete</a>
            <a ng-click="dismiss()" tabindex="-1">Cancel</a>
            <button type="submit">Save</button>
        </div>
    </form>
</div>
