{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3>{% block title %}Login{% endblock %}</h3>
        </div>
    </div>
<div align="center">
    <div style="position: relative; width: 100%; height: 100%; margin: 15% 0 0 0">
<div class="col-lg-5 mb-5">
        <li class="list-group-item p-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <form method="post">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input name="username" id="username" required type="text" class="form-control" placeholder="Username" > </div>
                        </div>
                        
                        
                        <div class="input-group mb-3">
                            <input type="password" name="password" id="password" requiredtype="text" class="form-control" placeholder="Password">
                                <div class="input-group-append">
                                    <input type="submit" value="Log In" class="btn btn-white"></button>
                                        </div>
                                </div>
                        
                    </form>
                </div>
                </li>
</div>
    </div>
{% endblock %}
